.markdown {
  a,
  a:visited {
    color: #4183c4;
  }
  a:focus,
  a:hover,
  a:active {
    color: #333;
  }
  code {
    border: thin solid #eaeaea;
    border-radius: .1875rem;
    white-space: nowrap;
    font-size: 1.25rem;
    padding: 0 .25rem;
    margin: 0 .125rem;
  }
}
