article {
  color: #404040;
  position: relative;
  padding: 1rem 1rem 1rem 2rem;
  min-height: 10rem;
  h1 {
    color: #333;
    font-size: 2.5rem;
    margin: 1rem 0 .5rem;
    border-bottom: thin solid #ccc;
    a[rel=source] {
      color: #ccc;
      &:before {
        content: "#";
      }
      &:hover,
      &:focus,
      &:active {
        color: inherit;
      }
    }
  }
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  border: .75rem solid #fff;
  box-shadow: 0 .125rem .25rem #ccc;
  box-sizing: border-box;
  }
  .right {
  text-align: center;
  }
  .center {
    clear: both;
  }
  .right,
  .center {
    margin-top: 0;
  line-height: 200%;
  }
  li > p {
    margin: 0;
  }
  blockquote {
    margin: 0;
    padding-left: 2rem;
  }
  .author,
  blockquote {
    font-style: italic;
    font-family: 'Droid Serif', serif;
    font-size: 1.25rem;
  }
  .author {
    text-align: right;
    &:before {
      content: "\2014  ";
    }
  }
  footer {
    color: #999;
    position: relative;
    text-transform: lowercase;
    border-top: thin solid #ccc;
    ul, li {
      display: inline;
      margin: 0;
      padding: 0;
    }
    li:before {
      content: "#";
    }
    a {
      line-height: 24px;
    }
    a[rel=source] {
      float: right;
    }
    .button {
      height: 24px;
      position: absolute;
      overflow: hidden;
      display: inline-block;
      top: 0;
      margin-left: 4px;
      &.twitter {
        > iframe {
          position: relative;
          top: 2px;
          left: -9px;
        }
        .text {
          position: absolute;
          top: 0;
          left: 0;
          .body-bg;
          &:before {
            content: "+";
          }
        }
      }
    }
  }
  &.post {
    footer {
      margin-bottom: 1rem;
    }
  }
}

time {
  color: #999;
  font-size: 1.5rem;
  line-height: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}

@media only screen and (max-width: 520px) {
  article {
    padding: 1rem .5rem .5rem;
    h1 {
      text-align: center;
      word-wrap: break-word;
    }
  }
}

@media only screen and (max-width: 520px) {
  article time {
    display: block;
    text-align: center;
    margin: 1rem 0 -.75rem;
    &:before,
    &:after {
      content: "\2014";
      padding: .5rem;
    }
  }
}

@media only screen and (min-width: 521px) {
  article time {
    text-align: right;
    position: absolute;
    left: -14.5rem;
    width: 16rem;
    .transition(all 0.25s ease-in-out 0);
    .transform-origin(bottom right);
  }
}

@media only screen and (min-width: 521px) and (max-width: 1120px) {
  article time {
    top: 1.5rem;
    .rotate(-90deg);
  }
}

@media only screen and (min-width: 1121px) {
  article time {
    top: 3.375rem;
    .rotate;
  }
}
