/* Common Styles */

html,
body {
  border: none;
  color: #000;
  font: 14px/150% 'Lucida Grande','Lucida Sans Unicode','Geneva','Verdana',sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Common color palette */
h1, h2, h3, h4, h5, h6, a, a:link, a:visited {
  color: #c30;
  > a {
    color: inherit;
    text-decoration: inherit;
  }
}
a:hover, a:active {
  color: #f30;
}
ul > li {
  list-style-type: square;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
.white {
  background-color: white !important;
}
.hidden {
  display: none;
}

/* Code blocks */
pre, cite, code {
  background: url(/media/images/skin/bg-box.png) repeat scroll left top transparent;
  border-bottom: 1px solid #ddd;
  color: #333;
  font: 0.95em 'Consolas','Deja Vu Sans Mono','Bitstream Vera Sans Mono',monospace;
  padding: 0.5em;
  cite, code {
      background: transparent;
      border-bottom: none;
  }
}
cite, code {
  padding: 1px 2px;
}

/* Page structure */
body {
  > .wrapper {
    background: url(/media/images/skin/body-pattern.png) repeat scroll left top #6b3;
    min-height: 100%;
    position: relative;
    > .header {
      background: url(/media/images/skin/body-pattern.png) repeat scroll left top #7ce;
      padding: 8px 0 0;
      position: relative;
      > .title {
        color: white;
        font: 60px Georgia,Utopia,'Palatino Linotype',Palatino,serif;
        margin: 0 auto;
        padding: 0.7em 0 0.3em;
        text-align: left;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
        width: 960px;
        a {
          color: inherit;
          text-decoration: inherit;
        }
      }
      > .flower {
        background: url(/media/images/skin/bg-flower.png) no-repeat scroll left bottom transparent;
        bottom: 0px;
        height: 245px;
        position: absolute;
        right: 0px;
        width: 280px;
      }
      > .grass {
        background: url(/media/images/skin/bg-grass.png) repeat-x scroll center bottom transparent;
        height: 100px;
      }
    }
    > .container {
      padding: 0 10px 120px 10px;
      > .content {
        margin: 0 auto;
        width: 960px;
        > .main {
          background: url(/media/images/skin/bg-box.png) repeat scroll left top transparent;
          margin: 0 auto;
          padding: 0.5em 20px 20px;
          float: left;
          width: 680px;
          h1 {
            font-size: 1.5em;
          }
          h2 {
            font-size: 1.25em;
          }
          blockquote {
            margin: 1em 0;
          }
          .summary {
            margin: 1em 0 1em 40px;
          }
          img {
            background: url(/media/images/skin/bg-box.png) repeat scroll left top transparent;
            padding: 4px;
            border: 1px solid white;
          }
          .date {
            background: url(/media/images/skin/icons/date.png) no-repeat scroll left top transparent;
            display: inline-block;
            height: 16px;
            margin: 0 -2px -4px 2px;
            width: 16px;
          }
          .tags {
            background: url(/media/images/skin/icons/tag.png) no-repeat scroll left top transparent;
            display: inline-block;
            height: 16px;
            margin: 0 -2px -4px 2px;
            width: 16px;
          }
          .like {
            display: inline-block;
            position: relative;
            .fb_edge_widget_with_comment {
              top: 3px;
            }
          }
        }
        > .sidebar {
          float: right;
          width: 230px;
          > div {
            background: url(/media/images/skin/bg-box.png) repeat scroll left top transparent;
            margin: 0 0 10px;
            > .header {
              border-bottom: 1px dotted #3d3;
              font-weight: bold;
              margin: 0px 4px;
              padding: 3px 0 3px 25px;
            }
          }
          > .archives {
            > .header {
              background: url(/media/images/skin/icons/archives.png) no-repeat scroll 5px 5px transparent;
            }
            > .loader {
              background: url(/media/images/skin/ajax-loader-green.gif) no-repeat scroll 10px 8px transparent;
              font-size: 12px;
              padding: 3px 2px 3px 30px;

            }
            ul {
              margin: 0;
              padding: 0 0 0 15px;
              li {
                list-style-type: none;
                margin: 0 0 0 -15px;
                padding: 0 0 0 15px;
                span {
                  color: #c30;
                  cursor: pointer;
                }
              }
            }
            > ul {
              font-size: 12px;
              margin: 0 2px 0 20px;
              padding: 5px 0 5px 5px;
              > li {
                background: url(/media/images/skin/icons/archives-folder.png) no-repeat scroll left 5px transparent;
                > ul {
                  > li {
                    background: url(/media/images/skin/icons/archives-folder.png) no-repeat scroll left 5px transparent;
                    > ul {
                      > li {
                        cursor: normal;
                        background: url(/media/images/skin/icons/archives-file.png) no-repeat scroll left 5px transparent;
                        margin: 0 0 0 -17px;
                        a {
                          text-decoration: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          > .blogs {
            > .header {
              background: url(/media/images/skin/icons/blog-arrow.png) no-repeat scroll 4px 6px transparent;
            }
            > ul {
              font-size: 12px;
              margin: 0 2px 0 20px;
              padding: 5px 0 5px 5px;
              > li {
                background: url(/media/images/skin/icons/blog-small.png) no-repeat scroll left 4px transparent;
                list-style-type: none;
                margin: 0 0 5px -10px;
                padding: 0 0 0 16px;
              }
            }
          }
        > .facebook {
          > .header {
              background: url(/media/images/skin/icons/facebook-page.png) no-repeat scroll 4px 7px transparent;
          }
          > .box {
            background: url("/media/images/skin/bg-box.png") repeat scroll left top transparent;
            position: relative;
            overflow: hidden;
            > .fb_iframe_widget {
              top: -2px;
              left: -1px;
            }
          }
        }
        }
      }
    }
    .footer {
      background: url(/media/images/skin/footer-pattern.png) repeat scroll left top #310;
      bottom: 0;
      color: #fff;
      font: 13.34px Arial, Helvetica, sans-serif;
      padding: 5px 0;
      position: absolute;
      text-align: center;
      width: 100%;
      a {
        color: #fda;
        text-decoration: none;
      }
      a:hover,
      a:active {
        color: #ffc;
        text-decoration: underline;
      }
      ul {
        border-bottom: 1px solid #310;
        padding: 6px 0 10px;
        margin: 0 auto 5px;
        width: 810px;
      li {
        border-right: 1px solid #310;
        list-style-type: none;
        display: inline;
        padding: 0 10px;
        margin: 0 -4px 0 0;
      }
      li:first-child {
        border-left: none;
      }
      li:last-child {
        border-right: none;
      }
      }
    }
  }
}
