<div class="post-preview">
  <h1><a href="http://aatiis.me{{ post.url }}">{{ post.title }}</a></h1>
  <blockquote>
    <span class="date"></span> posted on: <code class="date">{{ post.date | date_to_string }}</code>;
    <span class="tags"></span> tags: {% for tag in post.tags %}<code class="tag">{{ tag }}</code>{% if forloop.last %};{% else %}, {% endif %}{% endfor %}
    <div class="plusone">
      <g:plusone size="small" href="http://aatiis.me{{ post.url }}"></g:plusone>
    </div>
  </blockquote>
  <blockquote class="summary">{{ post.summary | textilize }}</blockquote>
</div>
