html
  font-size: 100%
  text-size-adjust: 100%

body
  margin: 0
  padding: 0
  font-size: 1.25rem

h1, h2, h3
  margin: 0
  font-weight: normal

h1
  color: #333
  font-size: 2.5rem
  margin: 1rem 0 .5rem
  a[rel=source]
    color: #ccc
    &:before
      content: "#"

    &:hover,
    &:focus,
    &:active
      color: inherit

li
  list-style-type: square

a,
a:visited
  color: inherit
  text-decoration: none

a:focus,
a:hover,
a:active
  text-decoration: underline

::selection
  color: #fff
  background-color: #fb3
  text-shadow: none

main,
article
  padding: 2rem 1rem

body > header,
div[role=main]
  // min-width same as .wrap
  min-width: 20rem
  overflow: hidden

// http://meta.superuser.com/q/4788
kbd
  background-color: #f7f7f7
  border: 1px solid #ccc
  border-radius: 3px
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset
  color: #333
  display: inline-block
  font-family: Arial, Helvetica, sans-serif
  font-size: 14px
  line-height: 1.4
  margin: 0 .1em
  padding: .1em .6em
  text-shadow: 0 1px 0 #fff

