article
  color: #404040

  ul
    margin: 1rem 0

  img:not([class^=icon])
    max-width: 100%
    display: block
    margin: 0 auto
    box-sizing: border-box
    border: thin solid #ccc
    padding: .5rem

  img.icon-24
    height: 24px
    width: 24px
    margin-bottom: -6px

  .right
    text-align: center

  .center
    clear: both

  .right,
  .center
    margin-top: 0
    line-height: 200%

  li > p
    margin: 0

  blockquote
    margin: 0
    padding-left: 2rem
    code
      font-size: 1rem

  .author,
  blockquote
    font-style: italic
    font-family: 'Droid Serif', serif
    font-size: 1.25rem

  .author
    text-align: right
    &:before
      content: "\2014  "

  .footnote
    margin-bottom: 0
    &:before
      content: " "
      display: block
      border-top: thin solid #999
      width: 240px

    + .footnote
      margin: 0
      &:before
        display: none

    &:last-child
      margin-bottom: 1em

time
  color: #666
  font-size: 50%
  text-transform: uppercase
  white-space: nowrap
  vertical-align: super
