---
layout: base
title: Attila Oláh
---
<ul id="archive" class="wrap">
  {% for page in site.posts %}
    {% include archive.html %}
  {% endfor %}
</ul>
<script>
window.onhashchange = (function(w, c){
  var hash = w.location.hash.replace(/^#/, ''),
      u = document.getElementById('archive'),
      now = '' + new Date().getFullYear(),
      sep = 'separator',
      ls = u.children,
      t = ls.length,
      a = [],
      i = t,
      f = function() {
        u.style.display = 'none';
        hash = w.location.hash.replace(/^#/, '');
        for (i=t;i-->0;) {
          if ((li = a[i]).parentNode) {
            u.removeChild(li, u);
          }
          li.classList.remove(sep);
          if (!hash || li.dataset.tags.split(/\s+/).indexOf(hash)+1) {
            u.appendChild(li);
          }
        }
        li = u.firstElementChild;
        if (li && li.dataset.year !== now) {
          li.classList.add(sep);
        }
        if (li !== null) {
          u.style.display = '';
        }
      },
      li;
  for (;i-->0;) {
    a.push(ls[i]);
  }
  f();
  return f;
})(window, 0);
</script>
