<?xml version="1.0"?>
<feed xmlns="https://www.w3.org/2005/Atom">
  <title>Attila Oláh</title>
  <link href="https://attilaolah.eu/"/>
  <link type="application/atom+xml" rel="self" href="https://attilaolah.eu/atom.xml"/>
  <updated>{{ site.time | date_to_xmlschema }}</updated>
  <id>https://attilaolah.eu/</id>
  <author>
    <name>Attila Oláh</name>
    <email>atl@google.com</email>
  </author>
  {% for post in site.posts %}
  <entry>
    <id>https://attilaolah.eu{{ post.id }}</id>
    <link type="text/html" rel="alternate" href="https://attilaolah.eu{{ post.url }}"/>
    <title>{{ post.title }}</title>
    <published>{{ post.date | date_to_xmlschema }}</published>
    <updated>{{ post.date | date_to_xmlschema }}</updated>
    <author>
      <name>Attila Oláh</name>
      <uri>https://attilaolah.eu/</uri>
    </author>
    <content type="html">{{ post.content | xml_escape }}</content>
  </entry>
  {% endfor %}
</feed>
