<!doctype html>
<html lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/media/css/main-min.css" type="text/css"/>
    <link rel="alternate" type="application/rss+xml" title="Attila O.'s weblog" href="http://feeds.feedburner.com/aatiisme"/>
    <script src="/media/js/ajs-min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1 class="title"><a href="/">Attila O.'s weblog</a></h1>
        <div class="flower"></div>
        <div class="j-canvas canvas"></div>
        <div class="grass"></div>
      </div>
      <div class="container">
        <div class="content">
          <div class="line">
            <div class="unit size4of5">
              <div class="pad">
                <div class="main">
                  {{ content }}
                </div>
              </div>
            </div>
            <div class="unit size1of5 lastUnit">
              <div class="sidebar">
                <div class="avatar">
                  <img src="/media/images/skin/avatar-clippy.png" alt="This is me."/>
                  <div class="header">Hello, reader.</div>
                  <div class="bio">
                    <span>My name is<br/></span>
                    <span><a href="mailto:me@aatiis.me" rel="me" class="me">Attila Ol&aacute;h</a><br/></span>
                    <span>I'm currently a<br/></span>
                    <span><strong>python coder</strong><br/></span>
                    <span>at <a href="http://www.vemble.com/">Vemble B.V.</a><br/></span>
                    <span>and <strong>founder</strong><br/></span>
                    <span>of <a href="http://auir.eu/">Aiur d.o.o.</a> Serbia</span>
                  </div>
                </div>
                <div class="j-archives archives">
                  <div class="header">Archives</div>
                  <div class="j-loader loader">Loading archives...</div>
                </div>
                <div class="blogs">
                  <div class="header">Worth checking out</div>
                  <ul>
                    <li><a href="http://blog.notdot.net/">Nick's Blog</a></li>
                    <li><a href="http://www.codinghorror.com/blog/">Coding Horror</a></li>
                    <li><a href="http://37signals.com/svn/">Signal vs. Noise</a></li>
                    <li><a href="http://www.stubbornella.org/">Stubbornella</a></li>
                    <li><a href="http://www.spoiledmilk.dk/blog/">SpoiledMilk Blog</a></li>
                    <li><a href="http://richardneililagan.com/">Richard Neil Ilagan</a></li>
                  </ul>
                </div>
                <div class="me">
                  <div class="header">Me on the web</div>
                  <ul>
                    <li class="bb"><a rel="me" href="http://bitbucket.org/attilaolah" title="BitBucket"></a></li>
                    <li class="ca"><a rel="me" href="http://www.coactivate.org/people/aatiis" title="CoActivate"></a></li>
                    <li class="di"><a rel="me" href="http://digg.com/aatiis" title="Digg"></a></li>
                    <li class="dl"><a rel="me" href="http://www.delicious.com/aatiis" title="Delicious"></a></li>
                    <li class="dm"><a rel="me" href="http://www.dailymotion.com/attilaolah" title="Dailymotion"></a></li>
                    <li class="el"><a rel="me" href="http://www.elance.com/s/attilaolah" title="Elance"></a></li>
                    <li class="fb"><a rel="me" href="http://www.facebook.com/attilaolah" title="Facebook"></a></li>
                    <li class="fs"><a rel="me" href="http://foursquare.com/attilaolah" title="foursquare"></a></li>
                    <li class="gh"><a rel="me" href="http://github.com/aatiis" title="GitHub"></a></li>
                    <li class="go"><a rel="me" href="http://www.google.com/profiles/attilaolah" title="Google"></a></li>
                    <li class="gr"><a rel="me" href="http://gravatar.com/aatiisme" title="Gravatar"></a></li>
                    <li class="ic"><a rel="me" href="http://www.icq.com/people/153505311" title="ICQ"></a></li>
                    <li class="in"><a rel="me" href="http://rs.linkedin.com/in/attilaolah" title="LinkedIn"></a></li>
                    <li class="lf"><a rel="me" href="http://www.last.fm/user/attilaolah" title="Last.fm"></a></li>
                    <li class="mi"><a rel="me" href="http://www.mixx.com/users/aatiis" title="Mixx"></a></li>
                    <li class="od"><a rel="me" href="http://www.odesk.com/users/~~c655e923931c4a94" title="oDesk"></a></li>
                    <li class="os"><a rel="me" href="http://wiki.openstreetmap.org/wiki/User:Attila_Ol%C3%A1h" title="OpenStreetMap"></a></li>
                    <li class="pi"><a rel="me" href="http://picasaweb.google.com/attilaolah" title="Picasa"></a></li>
                    <li class="sf"><a rel="me" href="http://serverfault.com/users/31991/attila-olah" title="Server Fault"></a></li>
                    <li class="so"><a rel="me" href="http://careers.stackoverflow.com/aatiis" title="Stack Overflow Careers"></a></li>
                    <li class="so"><a rel="me" href="http://stackoverflow.com/users/252239/attila-olah" title="Stack Overflow"></a></li>
                    <li class="su"><a rel="me" href="http://superuser.com/users/25095/attila-olah" title="Super User"></a></li>
                    <li class="tw"><a rel="me" href="http://twitter.com/attilaolah" title="Twitter"></a></li>
                    <li class="wk"><a rel="me" href="http://en.wikipedia.org/wiki/User:Attila_Ol%C3%A1h" title="Wikipedia (English)"></a></li>
                    <li class="wk"><a rel="me" href="http://hu.wikipedia.org/wiki/Szerkeszt%C5%91:Attila_Ol%C3%A1h" title="Wikip&eacute;dia (Hungarian)"></a></li>
                    <li class="ws"><a rel="me" href="http://www.westartup.eu/pg/profile/aatiis" title="westartup"></a></li>
                    <li class="yt"><a rel="me" href="http://youtube.com/user/DarckDesign" title="YouTube"></a></li>
                  </ul>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <ul>
          <li>&copy; 2010. Licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 Unported License</a>.</li>
          <li><a href="/">home</a></li>
          <li><a href="http://github.com/aatiis" rel="me">me @ github</a></li>
          <li><a href="mailto:me@aatiis.me" rel="me">contact</a></li>
        </ul>
        <span>Pages created using <a href="http://github.com/mojombo/jekyll">jekyll</a>.</span>
        <span>Styled using <a href="http://github.com/cloudhead/less.js">less.js</a> &amp; <a href="http://wiki.github.com/stubbornella/oocss/grids">oocss grids</a>.</span>
        <span>Hosted by <a href="http://github.com/">GitHub</a>.</span>
      </div>
    </div>
  </body>
</html>
