<!DOCTYPE html>
<html lang="en-gb">
<head>
<meta charset="utf-8">
	<meta charset="utf-8"/>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
	<header>
		<div class="wrap">
			<div class="flower">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="content">
				<div class="avatar"></div>
				<h1>Attila Ol&aacute;h</h1>
				<h2>Full-time dad, part-time web developer.</h2>
				<h2 class="live">Lives in
					<a href="https://en.wikipedia.org/wiki/Bajmok">Bajmok</a>,
					<a href="https://en.wikipedia.org/wiki/Serbia">Serbia</a>.
				</h2>
				<h2 class="work">Works at
					<a href="http://www.vemble.com/">Vemble</a>.
				</h2>
				<h2 class="study">Studies at
					<a href="https://www.udacity.com/">Udacity</a>.
				</h2>
			</div>
		</div>
	</header>
	<div role="main"></div>
	<footer>
		&copy; 2011&ndash;2013 Attila Oláh &mdash; contact me at attilaolah@gmail.com
	</footer>
</body>
</html>
