---
layout: base
title: Attila Oláh
---
<ul class="wrap home">
  {% for page in paginator.posts %}
  <li>
    <article>
      <header>
        <time class="condensed thin" datetime="{{ page.date | date: "%Y-%m-%dT00:00:00Z" }}">{{ page.date | date: "%d %B %Y" }}</time>
        <h1 class="condensed">
          <a href="{{ page.url }}">{{ page.title }}</a>
          {% if page.link %}
            <a href="{{ page.source }}" rel="source">{{ page.link }}</a>
          {% endif %}
        </h1>
      </header>
      <div class="markdown">
        {{ page.content }}
      </div>
      <footer>
        {% if page.tags  %}
          <ul class="tags">
            {% for tag in page.tags %}
              <li>{{ tag }}{% unless forloop.last %},{% endunless %}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if page.source %}
          <a rel="source" href="{{ page.source }}">Source</a>
        {% endif %}
      </footer>
  </li>
  {% endfor %}
</ul>
<div class="pagination condensed">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="previous" href="/">Previous</a>
    {% else %}
      <a class="previous" href="/{{ paginator.previous_page_path }}">Previous</a>
    {% endif %}
  {% endif %}
  <ul>
    <li>
      {% if paginator.page == 1 %}
        <span class="current">1</span>
      {% else %}
        <a href="/">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current">{{ count }}</span>
        {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a class="next" href="/{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</div>
