---
layout: base
---

<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
<div class="hr"></div>
<blockquote>
  <span class="date"></span> posted on: <code>{{ page.date | date_to_string }}</code>;
  <span class="tags"></span> tags: {% for tag in page.tags %}<code>{{ tag }}</code>{% if forloop.last %};{% else %}, {% endif %}{% endfor %}
  <div class="plusone">
    <g:plusone size="small"></g:plusone>
  </div>
</blockquote>

{{ content }}

<div class="comments">
  <div class="hr"></div>
  <script src="http://aatiis.disqus.com/combination_widget.js?num_items=2&hide_mods=0&color=green&default_tab=popular&excerpt_length=200"></script>
</div>
