<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>Attila O.&apos;s weblog</title>
    <link>http://aatiis.me/</link>
    <description>My personal blog.</description>
    <language>en-us</language>
    {% for post in site.posts limit:1 %}<lastBuildDate>{{ post.date}}</lastBuildDate>{% endfor %}
    {% for post in site.posts limit:10 %}
    <item>
      <title>{{ post.title }}</title>
      <link>http://aatiis.me{{ post.url }}</link>
      <description>{{ post.summary }}</description>
      <pubDate>{{ post.date}}</pubDate>
      <guid>http://aatiis.me{{ post.url }}</guid>
    </item>
    {% endfor %}
  </channel>
</rss>
